/* Kanagawa Wave */
* {
    background-image: none;
    font-family: "HackGen Console NF", monospace;
    font-size: 14px;
}

window {
    background-color: rgba(31, 31, 40, 0.85);
}

button {
    color: #dcd7ba;
    background-color: #2a2a37;
    border: 2px solid #363646;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 8px;
}

button:focus, button:active, button:hover {
    background-color: #363646;
    border-color: #7e9cd8;
    outline: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#lock:hover {
    border-color: #957fb8;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#logout:hover {
    border-color: #98bb6c;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#suspend:hover {
    border-color: #7aa89f;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#reboot:hover {
    border-color: #ff9e3b;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#shutdown:hover {
    border-color: #c34043;
}
