[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    editor = nvim
    autocrlf = false
    {{- if eq .chezmoi.os "darwin" }}
    # macOS specific settings
    ignorecase = false
    {{- end }}

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = current

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    pl = pull
    ps = push
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD

{{- if eq .environment "work" }}
# Work-specific Git configuration
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
{{- end }}

{{- if eq .chezmoi.os "windows" }}
# Windows-specific settings
[core]
    symlinks = true
    longpaths = true
{{- end }}
